<div class="row">
  <div class="large-12 columns">

    <!-- Navigation -->

      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="#">
                ProMeet
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <%= link_to 'Sign out', session_path, method: :delete %>
           </ul>
        </section>
    </nav>

    <!-- End Navigation -->

    </div>
  </div>


  <div class="row">
<div class="large-12 columns">
    <div class="panel radius">
    <div class="row">
      <div class="small-12 columns">
	<div class="row" align="center">
	  <h4>We found you a peer to talk with!</h4>
	</div>
      </div>
    </div>
    
    <div class="row">
      <div class="large-6 columns" align="right">
         <img src=<%= image_path 'head2.png'%> height="120px" width="100px">
      </div>
      <div class="large-6 columns" align="left">
	<div class="row">
	  <%= @other_profile.name %>
	</div>
	<br>
	<div class="row">
	  Job
	</div>
	<br>
	<div class="row">
	  Company
	</div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="large-12 columns" align="center">
	<div class="rating">
	  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
	</div>
      </div>
    </div>
    <br>

  <div class="row">
      <p align="center">
        <%= link_to 'Accept', match_accept_path, class: 'button', method: :put %>
        <%= link_to 'Reject', match_reject_path, class: 'button', method: :put %>
      </p>

      <script type="text/javascript">
        window.matchController = new MatchController({
          createdAt: <%= @match_entry.created_at %>,
          expiresAt: <%= @match_entry.expires_at %>
        });
      </script>
  </div>
</div>
  </div>
    <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright 2013. The Hack.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
	    <li><a href="faq.html">FAQ</a></li>
            <li><a href="aboutus.html">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

    <!-- End Footer -->
