<div class="row">
  <div class="large-12 columns">

    <!-- Navigation -->

      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="#">
                ProMeet
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <%= link_to 'Sign out', session_path, method: :delete %>
           </ul>

        </section>
    </nav>

    <!-- End Navigation -->

    </div>
  </div>


<div class="row">
  <div class="large-12 columns">
    <div class="panel radius">
      <div class="row">
	<div class="large-6 columns" align="center">
	  <div class="row">
	    <div class="large-8 columns" align="right">
        <%= image_tag 'head.png'%>
	    </div>
	    <div class="large-4 columns" align="left">
	      <div class="row">
		Name
	      </div>
	      <br>
	      <div class="row">
		Job
	      </div>
	      <br>
	      <div class="row">
		Company
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="large-6 columns" align="left">
	  <div class="row">
      <img src=<%= image_path 'inlogo.png'%> width="20px">&nbsp
      <% if @profile.has_facebook %>
        connected
      <% else %>
        <%= link_to 'Connect', profile_add_facebook_path, class: :button,
                               method: :put %>
      <% end %>
      <!--
	    <a href="#" class="tiny success button radius connected">Connected</a>
      -->
	  </div>
	  <div class="row">
      <img src=<%= image_path 'fblogo.png'%> width="20px">&nbsp
      <% if @profile.has_linkedin %>
        connected
      <% else %>
        <%= link_to 'Connect', profile_add_linkedin_path, class: :button,
                               method: :put %>
      <% end %>
      <!--
	    <a href="#" class="tiny button radius connected notconnected">Not Connected</a>
      -->
	  </div>
	</div>
      </div>
      <br>

      <div class="row">
	<div class="small-12 columns">
	  <div class="row" align="center">
	    <h4>Who are you looking forward to talking with</h4>
	  </div>
	</div>
      </div>
      <br>
      
      <div class="row">
	<div class="small-5 columns" align="right">
	  Professional Level
	</div>
	<div class="small-3 columns" align="left">
	  <form action=""><select name="area">
	      <option value="intern">Intern</option>
	      <option value="cstarter">Career starter</option>
	      <option value="midc">Mid-career</option>
	      <option value="guru">Guru</option>
	    </select>
	  </form>
	</div>
	<div class="small-4 columns">
	</div>
      </div>
      
      <div class="row">
	<div class="small-5 columns" align="right">
	  Area
	</div>
	<div class="small-3 columns" align="left">
	  <form action=""><select name="area">
	      <option value="accounting">Accounting</option>
	      <option value="anp">Architecture & Planning</option>
	      <option value="banking">Banking</option>
	      <option value="biology">Biology</option>
	      <option value="civil">Civil Engineering</option>
	      <option value="cs">Computer Science</option>
	      <option value="radio">Design</option> 
	      <option value="ee">Electrical Engineering</option>
	      <option value="computer">Marketing</option>
	      <option value="se">Software Engineering</option>
	    </select>
	  </form>
	</div>
	<div class="small-4 columns">
	</div>
      </div>
      
      <div class="row">
	<div class="small-12 columns" align="center">
    <%= link_to 'Meet People', queue_enter_path, class: :button,
      method: :put %>
    <!--
	  <a href="queue.html" class="button radius">Meet People</a>
    -->
	</div>
      </div>
    </div>
  </div>
</div>
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright 2013. The Hack.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
	    <li><a href="faq.html">FAQ</a></li>
            <li><a href="aboutus.html">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

    <!-- End Footer -->